* {
    margin: 0;
    padding: 0;
}
.container {
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-color: yellowgreen;
}
.container img {
max-width: 100px;
}
.item1 {
   
    border: 3px solid blue;
    
}
.item2 {
    
    border: 3px solid blue;
   
}
.item3 {
   
    border: 3px solid blue;
}